*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/img9.jpg) no-repeat center center / cover;
}
.container{
    height: 300px;
    width: 400px;
}
.header{
 font-size: 1.1rem;
 background-color: black;
 border-color: aliceblue;
 border: solid 2px;
 color: aliceblue;
 border-radius: 10px;
 padding: 5px;
 margin: 20px;
}
.main-content{
    background-color: aliceblue;
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
}
.text-area{
margin: 5px;
}
.person{
margin-top: 10px;
text-transform: uppercase;
color: brown;
}
.bouttn-area button{
 
    background-color: orangered;
    color: aliceblue;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.bouttn-area button:active{
    background-color: lightblue;
}